/* Resetear algunos estilos por defecto del navegador */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #deddd2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b2d41;
    color: #deddd2;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #9a9ea1;
    border: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #1b2d41;
    color: #deddd2;
}